@charset "utf-8";
/* CSS Document */
.body {
	background: #e9edf0;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 140%;
	font-family: arial,freeSans,sans-serif;
	color: #16212c;
}
section h2 {
	font: normal 1.7rem TheSerifOffice,georgia,serif;
}

.bloc_droit {
	border: 1px solid #eef1f5;
	overflow: hidden;
	background: #fafbfc;
}
.bandeau {
	padding: 0 16px;
	margin: 0;
	font-size: 17px;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'FetteEngschrift','Arial Narrow',sans-serif;
	font-weight: normal;
}
.cartouche_rubrique {
	background: #30932e;
}
.titre_blog {
	font-size: 11px;
	font-size: 1.1rem;
	font-family: arial,sans-serif;
	font-weight: bold;
	color: #a2a9ae;
	text-transform: uppercase;
}
.blog{
	border-bottom: 1px solid gray;
}
.bloc_droit strong {
	overflow: hidden;
	font-weight:bold;
}
[class^=col-] {
	padding-top: 5px;
	padding-bottom: 5px;
}
figcaption {
	font-size: 0.8em;
}